/* $family-primary: var(--family-primary)

:root {
    --family-primary: "Arial", Sans-Serif;
}
*/

body {
    overflow: hidden;
    font-family: "Arial", Sans-Serif;
    font-size: 10px;
    background: white;
}

nav {
    margin: 2px 2px 1px 2px;
    padding: 2px 2px 2px 2px;
    border-bottom: solid 0.5px grey;
}

.is-tab {
    margin-right: 2px;
    padding: 2px 2px 2px 2px;
    background: white;
    border: solid 0.5px grey;
}

.is-tab.is-active {
    padding: 2px 2px 3.1px 2px;
    background: lightskyblue;
    border-bottom: none;
}

.box {
    border: solid 0.5px grey;
}

.module-status {
    position: absolute;
    width: 350px;
    height: 250px;
    top: 0;
    right: 0;
}

.module-status p {
    font-family: "Courier", monospace;
    font-size: 6px;
    margin: 0;
    padding: 0;
}

.console {
    margin: 0;
    padding: 2px 0 0 0;
}

.console pre {
    margin: 0;
    padding: 0;
}

.console-input {
    margin: 0;
    padding: 0 5px 0 0;
}

.console-input input {
    margin: 0;
    padding: 0;
    width: 100%;
}

ul > li {
    margin-left: 10px;
}
