body {
    overflow: hidden;
    font-family: "Arial", Sans-Serif;
    font-size: 10px;
    background: white;
}

button {
    font-size: 10px;
    padding: 2px;
    border: solid 0.5px grey;
    background: white;
}

button:hover {
    background: lightgrey;
}

.banner {
    overflow: hidden;
    text-align: center;
}

nav {
    margin: 2px 2px 1px 0px;
    padding: 2px 2px 2px 0px;
    border-bottom: solid 0.5px grey;
    white-space: nowrap;
    overflow-x: scroll;
}

.is-tab {
    margin-right: 2px;
    padding: 2px 2px 2px 2px;
    background: white;
    border-left: solid 0.5px grey;
}

.is-tab.is-active {
    padding: 2px 2px 3.1px 2px;
    background: lightskyblue;
    border-bottom: none;
}

.is-tab.is-active.console-tab {
    background: lightgrey;
}

.is-tab.is-active.supp-tab {
    background: lightgrey;
}

.columns {
    width: 100%;
    display: flex;
}

.column.is-half {
    width: 50%;
}

.column.is-one-fifths {
    width: 20%;
}

.column.is-four-fifths {
    width: 80%;
}

.column.is-one-quarter {
    width: 25%;
}

.column.is-three-quarters {
    width: 75%;
}

nav {
    width: 100%;
}

.box {
    border: solid 0.5px grey;
}

.module-status {
    position: absolute;
    width: 250px;
    min-height: 80px;
    top: 0;
    right: 0;
    background: ivory;
}

.module-status p {
    font-family: "Courier", monospace;
    font-size: 6px;
    margin: 0;
    padding: 0;
}

.blocker p {
    font-family: "Courier", monospace;
    font-size: 6px;
    margin: 0 0 0 10px;
    padding: 0;
}

.blocker.title {
    font-family: "Arial", San-Serif;
    font-size: 6px;
    margin: 0;
    padding: 0;
}

.console {
    margin: 0;
    padding: 2px 0 0 0;
    background-color: white;
    color: black;
    position: relative;
}

.console-help {
    margin: 0;
    padding: 3px;
    background-color: honeydew;
    color: black;
    position: absolute;
    top: 7px;
    right: 7px;
    border: solid 0.5px black;
    font-family: "Courier", monospace;
    font-size: 6px;
}

.console-help p {
    margin: 0;
    padding: 0;
}

.console-item {
    margin: 0;
    padding: 2px 0 2px 0;
    border-bottom: solid 0.3px lightgrey;
    display: block;
}

.console-item > div {
    margin: 0 5px;
    padding: 0;
    font-size: 8px;
    font-family: monospace;
    display: inline-block;
    vertical-align: top;
}

.console-item > pre {
    margin: 0;
    padding: 0;
    font-size: 8px;
    display: inline-block;
}

.console-input {
    margin: 0;
    padding: 0 5px 0 0;
}

.console-input input {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 10px;
    width: 100%;
}

.expandable {
    font-family: "Arial", San-Serif;
    font-size: 8px;
}

.has-text-black {
    color: black;
}

.has-text-green {
    color: green;
}

ul.tree, ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.tree ul {
    margin-left: 5px;
}

ul.tree li {
    margin: -3px;
    padding: 0 7px;
    line-height: 15px;
    border-left:1px solid rgb(100,100,100);
}

ul.tree li:last-child {
    border-left:none;
}

ul.tree li::before {
    position:relative;
    top:-0.83px;
    height:12px;
    width:8px;
    color:white;
    border-bottom:1px solid rgb(100,100,100);
    content:"";
    display:inline-block;
    left:-7px;
    right: 0;
}

ul.tree li:last-child::before {
   border-left:1px solid rgb(100,100,100);
}

ul.tree span::before {
    width: 10px;
    background: black;
}


.core-expr {
    margin-left: 10px;
    border-left: dotted 0.3px black;
}

.core-expr.top {
    margin-left: 0;
    border-left: none;
}

.core-expr > pre {
    margin: 0;
    padding: 0;
}

.error {
    background: orange;
    border: solid 1px black;
}

.nomargin {
    margin: 0;
    padding: 0;
}

.noinline {
    display: block;
}

.suppview pre {
    margin: 5px;
    padding: 5px;
    font-family: "Courier", monospace;
    font-size: 8px;
}

/* symbols */

.langle {
    width: 10px;
}

.eq {
    width: 3px;
}

.lambda {
    width: 3px;
}

.arrow {
    padding-left: 4px;
    padding-right: 4px;
    width: 20px;
}

.paren {
    width: 3px;
}

.space {
    width: 3px;
}
